.footer {
	background-color: transparent;
	position: absolute;
	height: 50px;
	text-align: center;
	margin: 0;
	padding-top: 1rem;
	width: 100%;
	opacity: 1;
	background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f12711, #f5af19);
}
