.header {
	background: #333333;
	/* padding-top: 0.5rem; */
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: 3;
}

.header ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
	list-style: none;
}

.header li a {
	color: white;
	cursor: pointer;
	font-size: 1.3rem;
	margin: 0;
	text-decoration: none;
	padding-right: 100px;
}

.header a:hover,
.header a:active {
	color: rgb(0, 133, 120);
}

.nav {
	display: flex;
}

@media (max-width: 768px) {
	.header li {
		display: none;
	}
}

@media (max-width: 768px) {
	.header__toggle-button {
		padding-top: 0.9rem;
	}
}

@media (min-width: 769px) {
	.header__toggle-button {
		display: none;
	}
}
