.top-drawer {
	height: 100%;
	background: white;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 60%;
	max-width: 400px;
	z-index: 200;
	transform: translateX(-100%);
	transition: transform 0.3s ease-out;
}

.top-drawer.open {
	transform: translateX(0);
}

.top-drawer ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	margin-top: 3rem;
}

.top-drawer li {
	margin: 0;
	padding-bottom: 1rem;
}
.top-drawer a {
	color: #333333;
	font-size: 1.2rem;
	text-decoration: none;
}

.top-drawer a:hover,
.top-drawer a:active {
	color: rgb(0, 133, 120);
}

@media (min-width: 769px) {
	.top-drawer.open {
		display: none;
	}
}
